version: "3.9"

services:
  app:
    build: .
    container_name: htr_django_prod
    working_dir: /app
    command: gunicorn htr_seg_select.wsgi:application --bind 0.0.0.0:8080
    volumes:
      - ./htr_seg_select:/app/htr_seg_select:rw
      - /opt/transcription/media:/app/htr_seg_select/media:rw
      - /opt/transcription/static:/app/htr_seg_select/staticfiles:rw
    environment:
      DJANGO_SETTINGS_MODULE: htr_seg_select.production
      DJANGO_STATIC_ROOT: /app/htr_seg_select/staticfiles
      DJANGO_MEDIA_ROOT: /app/htr_seg_select/media
      DJANGO_DB_HOST: pg_htr
      DJANGO_DB_PORT: 5433
      DJANGO_DB_NAME: htr
      DJANGO_DB_USER: admin
      DJANGO_DB_PASSWORD: admin123
    depends_on:
      - pg_htr
    networks:
      - htr_net

  pg_htr:
    external: true

networks:
  htr_net:
    external: true